<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <div >
        <div style="padding:20px;">
            <p>Dear {{name}}</p>
            <p>You have recently submitted a request to reset the password for your Skytunes App. To continue, kindly click the link below.</p>
            <p>
                <a href="{{ resetLink }}" style="color: blue; text-decoration: underline;">Reset Password Link</a>
            </p>
            <p>This password reset link will expire in 15 minutes. If you did not initiate this request, you can safely disregard this email.</p>
            <p>Thanks</p>
                <div class="logo">
                    <img src="cid:logo" alt="Skytunes App Logo" style="width:100px; height:100px;" >
                </div>
        </div>
  </div>
</body>
</html>

