<!DOCTYPE html>
<html>
<head>
    <title>Update Password</title>
</head>
<body>
     <div >
        <div style="padding:20px;">
            <p>Dear {{name}}</p>
            <p>Your account password has been updated Successfully</p>
            <p>Here is your updated password details:</p>
            <p>Updated Password: {{password}}</p>
            <p>Thanks</p>
                <div class="logo">
                    <img src="cid:logo" alt="Skytunes App Logo" style="width:100px; height:100px;" >
                </div>
        </div>
    </div>
</body>
</html>